#root {
  max-width: 800px;
  margin: 1rem auto;
}
.multiple-choice fieldset { 
  display: grid;
  grid-auto-rows: 1fr;
  border: none;
}
.multiple-choice label { display: flex; }
.multiple-choice input[type="radio"] { margin-right: 20px; }
.multiple-choice .choice {
    border: solid 1px gray;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0;
}
.multiple-choice .choice:has(input[type="radio"]:checked) { border: inset; }
.multiple-choice .choice img {
  vertical-align: middle; 
}

.card-sort p, .card-sort h3 { margin: 5px; }
.card-sort .container { 
  width: 100%;
  height: 1000px;
  border: solid 1px black; 
}

.card-sort .card {
  cursor:         move;
  max-width:      200px;
  opacity:        1;
  display:        flex;
  flex-direction: column;
}

.card-sort .card img { max-width: 200px; }

.embedded-editor { border: solid 1px black;  }
.pyret iframe { min-height: 400px; min-width: 750px; }
  
code { background: #ddd; }
