body {
  margin: 1em;
  height: 100vh;
}

#root {
  margin: 1rem auto;
  height: 100%;
}

/* These items are just wrappers. Remove them from layout with display: contents */
#root>div,
.mdbook-quiz-wrapper,
.mdbook-quiz section,
fieldset>div,
.question { display: contents; }

.mdbook-quiz, .response { height: 100%; display: flex; flex-direction: column; }
.response input[type=submit], button { width: 100px; margin: 20px; }

/*******************************************************************
 * MULTIPLE CHOICE
 */
.multiple-choice fieldset {
  display: grid;
  border: none;
}
.multiple-choice label { display: flex; align-content: center; flex-wrap: wrap; }
.multiple-choice input[type="radio"] { margin-right: 20px; }
.multiple-choice .choice label {
    border: solid 1px gray;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0;
}
.multiple-choice .choice:has(input[type="radio"]:checked) label,
.multiple-choice .choice:has(input[type="checkbox"]:checked)  label { border: inset; }

.multiple-choice .choice img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 110px;
  margin-left: 50px;
}
.multiple-choice .choice p { margin: 5px; }
.multiple-choice .prompt img { max-width: 640px }

/*******************************************************************
 * CARD SORT
 */
.card-sort .container {
  display: block;
  height: 100%;
}
.card-sort .response fieldset { flex-grow: 1; }

.card-sort .card {
  cursor:         move;
  padding:        5px;
  max-width:      250px;
  background:     white;
  border:         1px dashed grey;
  opacity:        1;
  display:        flex;
  flex-direction: column;
}
.card-sort .card h3 { margin: 0; text-align: center; }
.card-sort .card img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 150px;
}

.card-sort .card.group {
  background: lightgray;
  border: '1px dashed gray';
}

.card-sort .card.group .card {   border: 1px dashed gray; }
.card-sort fieldset { padding: 0; }

/*******************************************************************
 * PYRET
 */
.pyret iframe { min-height: 400px; min-width: 750px; border: solid 1px black !important; }

code { background: #ddd; }
