body {
  margin: 1em;
  height: 100vh;
}

#root {
  margin: 1rem auto;
  height: 100%;
}

/* These items are just wrappers. Remove them from layout with display: contents */
#root>div,
.mdbook-quiz-wrapper,
.mdbook-quiz section,
fieldset>div,
.question { display: contents; }

.mdbook-quiz, .response { height: 100%; display: flex; flex-direction: column; }
.response input[type=submit], button { width: 100px; margin: 20px; }

.multiple-choice fieldset {
  display: grid;
  grid-auto-rows: 1fr;
  border: none;
}
.multiple-choice label { display: flex; align-content: center; flex-wrap: wrap; }
.multiple-choice input[type="radio"] { margin-right: 20px; }
.multiple-choice .choice {
    border: solid 1px gray;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0;
}
.multiple-choice .choice:has(input[type="radio"]:checked) { border: inset; }
.multiple-choice .choice img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 110px;
}

.card-sort .container {
  display: block;
  height: 100%;
}
.card-sort .response fieldset { flex-grow: 1; }

.card-sort .card {
  cursor:         move;
  padding:        5px;
  max-width:      250px;
  opacity:        1;
  display:        flex;
  flex-direction: column;
}
.card-sort .card h3 { margin: 0; text-align: center; }
.card-sort .card img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 150px;
}

.card-sort fieldset { padding: 0; }

.pyret iframe { min-height: 400px; min-width: 750px; border: solid 1px black !important; }

code { background: #ddd; }
